*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #042104;
}

.loader{
  position: relative;

}

.loader span{
  position: absolute;
  top: 0;
  width: 200px;
height: 2px;
background: #fff;
}

.loader span::before{
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background: #00ff0a;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  box-shadow: 0 0 10px #00ff0a,
  0 0 20px #00ff0a,
  0 0 40px #00ff0a,
  0 0 60px #00ff0a,
  0 0 80px #00ff0a,
  0 0 100px #00ff0a;


}

